<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidpractice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPractice">

        <activity android:name=".lesson11.CapturePhotoActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lesson10.ApiFetchActivity" />

        <activity android:name=".lesson9.ThreadHandlerActivity" />

        <activity android:name=".lesson8.UseSharedPreferencesActivity" />

        <activity android:name=".lesson7.LoginStorageActivity" />

        <!-- 設置為 singleTop -->
        <activity android:name=".lesson6.FirstActivity" android:launchMode="singleTop" />
        <activity android:name=".lesson6.SecondActivity" android:launchMode="singleTop" />

        <activity android:name=".lesson5.PhotoActivity" />

        <activity android:name=".lesson4.MainActivity" />
        <activity android:name=".lesson4.PayActivity" />

        <activity android:name=".lesson3.LoginActivity" />
        <activity android:name=".lesson3.RegisterResultActivity" />

        <activity android:name=".lesson2.Lesson2MainActivity" />
        <activity android:name=".lesson2.Lesson2SecondActivity" />

        <activity android:name=".lesson1.MainActivity" />
        <activity android:name=".lesson1.HomeActivity" />
    </application>

</manifest>